
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2 class="text-center mt-4">..:HATA:..</h2>
<h4 class="text-danger text-center">Bu sayfaya erişim bulunmamaktadır.</h4>

